/*
Uploadify
*/
.uploadify {
	position: relative;
	margin-bottom: 4px;
	display: block;	
	float: left;
}
.uploadify-button {
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
	color:#000000;background-image:url(../images/button.png);width:80px; height:28px; line-height:28px;font-size:12px; 
}
.uploadify:hover .uploadify-button {
	background-image:url(../images/buttonHover.png);text-decoration: none; color: #FFFFFF; 
	background-position: center bottom;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
	float:left;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('../img/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

.uploadify-btn{text-decoration:none;color:#000000;cursor:pointer;float:left;margin-left:20px;background-image:url(../images/button.png); background-repeat:no-repeat; width:80px; height:28px; line-height:28px; text-align:center; font-size:12px; } 
.uploadify-btn:hover{text-decoration:none;background-image:url(../images/buttonHover.png);text-decoration: none; color: #FFFFFF;} 

.upload-list .upload-table {border-collapse: collapse;width: 100%;margin-bottom: 1px;}
.upload-list .upload-table thead th,.upload-list .upload-table td {cursor:pointer;border: 1px solid #bbd3eb;padding-left:2px;}
.upload-list .upload-table thead th {background: url(../images/tl-bg.png) repeat-x;height: 27px;line-height:27px;font-size: 14px;color: #2f6db4;}
.upload-list .upload-table tbody th {border: 1px solid #bbd3eb;}
.upload-list .upload-table tr {font:14px/1.2 "宋体", arial;height:24px;text-align:center;}
.upload-list .upload-table tr .uploadify-list-title {text-align:left;padding-left:3px;word-wrap:break-word; overflow:hidden;text-overflow:ellipsis;overflow:hidden;width:360px;}
.upload-list .upload-table tr .uploadify-list-title a{text-decoration:none;color:#2f6db4;font-weight:700;}
.upload-list .upload-table tr .uploadify-list-title a:hover{text-decoration:underline ;}